In [370]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [371]:
train_data = pd.read_csv("train_titanic.csv")
test_data = pd.read_csv("test _titanic.csv")

test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [372]:
train_data["CryoSleep"]=train_data["CryoSleep"].replace([False,True],[0,1])
train_data["VIP"]=train_data["VIP"].replace([False,True],[0,1])
train_data["Transported"]=train_data["Transported"].replace([False,True],[0,1])
test_data["CryoSleep"]=test_data["CryoSleep"].replace([False,True],[0,1])
test_data["VIP"]=test_data["VIP"].replace([False,True],[0,1])

train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0.0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,0.0,F/0/S,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,0.0,A/0/S,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,0.0,A/0/S,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,0.0,F/1/S,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,0.0,A/98/P,55 Cancri e,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0
8689,9278_01,Earth,1.0,G/1499/S,PSO J318.5-22,18.0,0.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0
8690,9279_01,Earth,0.0,G/1500/S,TRAPPIST-1e,26.0,0.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1
8691,9280_01,Europa,0.0,E/608/S,55 Cancri e,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0
8692,9280_02,Europa,0.0,E/608/S,TRAPPIST-1e,44.0,0.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1

In [373]:


enc = LabelEncoder()

In [374]:
train_data["ShoppingMall"] = train_data["ShoppingMall"].fillna(train_data["ShoppingMall"].mean())
train_data["FoodCourt"] = train_data["FoodCourt"].fillna(train_data["FoodCourt"].mean())
train_data["RoomService"] = train_data["RoomService"].fillna(train_data["RoomService"].mean())
train_data["Age"] = train_data["Age"].fillna(train_data["Age"].mean())
train_data["VRDeck"] = train_data["VRDeck"].fillna(train_data["VRDeck"].mean())
train_data["Spa"] = train_data["Spa"].fillna(train_data["Spa"].mean())

train_data["HomePlanet"] = enc.fit_transform(train_data["HomePlanet"])
train_data["Destination"] = enc.fit_transform(train_data["Destination"])
train_data = train_data.drop(["Name"],axis=1)


test_data["ShoppingMall"] = test_data["ShoppingMall"].fillna(test_data["ShoppingMall"].mean())
test_data["FoodCourt"] = test_data["FoodCourt"].fillna(test_data["FoodCourt"].mean())
test_data["RoomService"] = test_data["RoomService"].fillna(test_data["RoomService"].mean())
test_data["Age"] = test_data["Age"].fillna(test_data["Age"].mean())
test_data["VRDeck"] = test_data["VRDeck"].fillna(test_data["VRDeck"].mean())
test_data["Spa"] = test_data["Spa"].fillna(test_data["Spa"].mean())


test_data["HomePlanet"] = enc.fit_transform(test_data["HomePlanet"])
test_data["Destination"] = enc.fit_transform(test_data["Destination"])

test_data["Cabin"].fillna(test_data["Cabin"].value_counts().index[0],inplace=True)
test_data["CryoSleep"].fillna(test_data["CryoSleep"].value_counts().index[0],inplace=True)
test_data["Destination"].fillna(test_data["Destination"].value_counts().index[0],inplace=True)
test_data["VIP"].fillna(test_data["VIP"].value_counts().index[0],inplace=True)

test_data = test_data.drop(["Name"],axis=1)

train_data = train_data[(train_data["CryoSleep"]>=0) & (train_data["Cabin"].isna()==False)& (train_data["Destination"].isna()==False)& (train_data["VIP"].isna()==False)]

train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,1,0.0,B/0/P,2,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0002_01,0,0.0,F/0/S,2,24.0,0.0,109.0,9.0,25.0,549.0,44.0,1
2,0003_01,1,0.0,A/0/S,2,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,0
3,0003_02,1,0.0,A/0/S,2,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,0
4,0004_01,0,0.0,F/1/S,2,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0.0,A/98/P,0,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,0
8689,9278_01,0,1.0,G/1499/S,1,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8690,9279_01,0,0.0,G/1500/S,2,26.0,0.0,0.0,0.0,1872.0,1.0,0.0,1
8691,9280_01,1,0.0,E/608/S,0,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0,0
8692,9280_02,1,0.0,E/608/S,2,44.0,0.0,126.0,4688.0,0.0,0.0,12.0,1

In [375]:
train_data["cabin_first"] = train_data["Cabin"].str.split("/",expand=True)[0]
train_data["cabin_first"] = enc.fit_transform(train_data["cabin_first"])

test_data["cabin_first"] = test_data["Cabin"].str.split("/",expand=True)[0]
test_data["cabin_first"] = enc.fit_transform(test_data["cabin_first"])

train_data["cabin_second"] = train_data["Cabin"].str.split("/",expand=True)[1]

test_data["cabin_second"] = test_data["Cabin"].str.split("/",expand=True)[1]

train_data["cabin_third"] = train_data["Cabin"].str.split("/",expand=True)[2]
train_data["cabin_third"] = enc.fit_transform(train_data["cabin_third"])

test_data["cabin_third"] = test_data["Cabin"].str.split("/",expand=True)[2]
test_data["cabin_third"] = enc.fit_transform(test_data["cabin_third"])

In [376]:
PassengerId = test_data["PassengerId"]
Y_train = train_data["Transported"]
Y_train

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8094, dtype: int64

In [377]:
X_train = train_data.drop(["Cabin","PassengerId","Transported"],axis=1)
test_data.drop(["Cabin","PassengerId"],inplace=True,axis=1)

test_data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin_first,cabin_second,cabin_third
0,0,1.0,2,27.000000,0.0,0.0,0.0,0.0,0.0,0.0,6,3,1
1,0,0.0,2,19.000000,0.0,0.0,9.0,0.0,2823.0,0.0,5,4,1
2,1,1.0,0,31.000000,0.0,0.0,0.0,0.0,0.0,0.0,2,0,1
3,1,0.0,2,38.000000,0.0,0.0,6652.0,0.0,181.0,585.0,2,1,1
4,0,0.0,2,20.000000,0.0,10.0,0.0,635.0,0.0,0.0,5,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1.0,2,34.000000,0.0,0.0,0.0,0.0,0.0,0.0,6,1496,1
4273,0,0.0,2,42.000000,0.0,0.0,847.0,17.0,10.0,144.0,6,160,0
4274,2,1.0,0,28.658146,0.0,0.0,0.0,0.0,0.0,0.0,3,296,0
4275,1,0.0,3,28.658146,0.0,0.0,2680.0,0.0,0.0,523.0,3,297,0
4276,0,1.0,1,43.000000,0.0,0.0,0.0,0.0,0.0,0.0,6,1498,1

In [378]:
train_test_data = pd.concat([train_data,test_data],axis=0)

In [379]:
# total = train_test_data.isnull().sum().sort_values(ascending=False)
# total
# percent = (train_test_data.isnull().sum()/train_test_data.isnull().count()).sort_values(ascending=False)

# missing_data = pd.concat([total,percent],keys=["total","percent"],axis=1)
# missing_data

In [380]:
model = LogisticRegression( solver='lbfgs')

In [381]:
model.fit(X_train,Y_train)

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [382]:
y_pred = model.predict(test_data)
y_pred = pd.Series(y_pred)
y_pred = y_pred.replace([0,1],["False","True"])

In [383]:
res = pd.DataFrame(PassengerId)
res["Transported"] = y_pred
res

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01        True
...          ...         ...
4272     9266_02        True
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]

In [384]:
res.to_csv("submission_titanic.csv",index=False)